.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 110px 0;
}

.header__left {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
}

.header__social {
  margin-left: 200px;
}

.social__item {
  display: inline-block;
}

.social__link {
  margin-right: 42px;
  display: block;
  width: 17px;
  height: 17px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.15s ease;
}

.social__link:hover {
  opacity: 0.7;
}

.social__link--fb {
  background-image: url(../img/facebook.png);
}

.social__link--twitter {
  background-image: url(../img/twitter.png);
}

.social__link--in {
  background-image: url(../img/linkedin.png);
}

.social__link--be {
  background-image: url(../img/behance.png);
}

.social__link--instagram {
  background-image: url(../img/instagram.png);
}

.social__link--dr {
  background-image: url(../img/dribbble.png);
}

.burger {
  position: relative;
  width: 30px;
  height: 18px;
  display: block;
}

.burger:hover .burger__line {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.burger__line {
  position: absolute;
  display: inline-block;
  height: 2px;
  background-color: $theme-text;
  transition: width 0.3s ease-in-out;
}

.burger__line:nth-child(1) {
  right: 0;
  top: 0;
  width: 100%;
}

.burger__line:nth-child(2) {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
}

.burger__line:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 40%;
}

@media (max-width: 1024px) {
  .header__social {
    margin-left: 80px;
  }
  .social__link {
    margin-right: 25px;
  }
}

@media (max-width: 576px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 0;
    background-color: var(--theme-background);
    z-index: 30;
  }
  .header .header__social {
    display: none;
  }
}
