.close {
  width: 30px;
  height: 30px;
  position: relative;
  display: block;
}

.close__line {
  position: absolute;
  left: 0;
  top: 13px;
  width: 100%;
  height: 2px;
  background-color: $theme-text;
}

.close__line:nth-child(1) {
  transform: rotate(45deg);
}

.close__line:nth-child(2) {
  transform: rotate(-45deg);
}

.menu {
  position: fixed;
  left: -100vw;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: $dark-theme-background;
  transition: left 0.3s ease;
}

.menu--showed {
  left: 0;
  transition: left 0.3s ease;
}

.menu-nav {
  margin-left: 28.3%;
  margin-top: 100px;
}

.menu-nav__link {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.2);
  transition: color 0.3s ease-in-out;
}

.menu-nav__link:hover {
  color: $theme-text;
  transition: color 0.3s ease-in-out;
}

.menu .header {
  padding: 45px 0;
}

@media (max-width: 576px) {
  .menu {
    z-index: 1000;
  }
  .menu .header {
    position: static;
  }
  .menu-nav {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-nav__link {
    font-size: 30px;
  }
}
