.portfolio {
  padding: 44px 0;
}

.portfolio__container {
  max-width: 1680px;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.portfolio__li {
  width: 25%;
  background-color: #000;
  height: 33.35vw;
}

.portfolio-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.portfolio-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(43, 43, 43, 0.4);
  transition: opacity 0.3s ease-in-out;
}

.portfolio-item::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 120px;
  height: 120px;
  background-image: url("../img/circle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-item:hover::before {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-item:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-item:hover .portfolio-item__tags {
  transform: translateX(300px);
}

.portfolio-item:hover .portfolio-item__category {
  transform: rotate(-90deg) translateY(-300px);
}

.portfolio-item__image {
  object-fit: cover;
}

.portfolio-item__tags {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 5;
  color: $theme-text;
  font-family: 'Lato';
  font-size: 26px;
  font-weight: 700;
  text-align: right;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item__category {
  position: absolute;
  left: -40px;
  bottom: 113px;
  z-index: 5;
  color: $theme-text;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.84px;
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}