.footer {
  padding: 56px 0;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__designed {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 400;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 576px) {
  .footer__container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer__copyright {
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }

  .footer__designed {
    margin-left: 20px;
  }

  .footer__logo {
    margin-right: 20px;
  }
}
