* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

h1, h2, h3, ul {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.logo {
  color: $theme-text;
  font-family: 'Lato';
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: lowercase;
}

.decoration-text {
  position: absolute;
  right: 8px;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  transform: rotate(90deg);
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.04px;
  color: $theme-text;
}

.stylish {
  font-weight: 300;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $dark-theme-background;
  color: $theme-text;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.container {
  margin: 0 auto;
  max-width: 1683px;
  padding: 0 20px;
}

@media (max-width: 1024px) {
  .decoration-text {
    display: none;
  }
}
